.bg-info{
  padding-bottom: 8px;
}

h1{
  color:white;
  padding-top:5px;
}

#searchBox{
  margin-left: 8px;
}

#search-city{
  margin-top:5px;
}

#lineBreak{
  margin-top:15px;
  margin-bottom:5px;
  border-bottom: 2px solid;
}

.btn{
  margin-top: 10px;
}

#topSection{
  margin-bottom: 50px;
}

#cityMain{
  margin-top: 5px;
  border: 1px solid black;
  max-height: fit-content;
}
#searchedCity{
  color:black
}

.card{
  margin-left:10px;
  margin-right:10px;
  background-color:rgb(52, 156, 197);
  border: 1px solid;
}

#forecast{
  margin-left:20px;
}